<div class="row footer">

  <!-- Row Rgba Start -->
  <div class="row rgba padding-top-20">

    <!-- Wrapper Start -->
    <div class="wrapper960 center">

      <!-- About Row Start -->
      <div class="row padding-v-40 tablet-padding">

        <!-- Item Start -->
        <div class="col-3">
          <h4 class="text-purple text300 padding-bottom-10">Company</h4>
          <ul class="href-text-gray hover-href-text-underline">
            <li><a href="#">About</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Policies</a></li>
            <li><a href="#">Terms & Privacy</a></li>
          </ul>
        </div>
        <!-- Item End  -->

        <!-- Item Start -->
        <div class="col-3">
          <h4 class="text-purple text300 padding-bottom-10">Support</h4>
          <ul class="href-text-gray hover-href-text-underline">
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="col-6">
          <h4 class="text-gray text-center text300 padding-bottom-10">Follow Us</h4>
          <div class=" button-center padding-v-20">
            <a href="https://twitter.com/lyceum_project?lang=en" target="_blank" class="btn icon border purple round margin-right">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/company/11204428/" target="_blank" class="btn icon border purple round hover-tooltip margin-right">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://angel.co/uni-7" target="_blank" class="btn icon border purple round hover-tooltip margin-right">
              <i class="fab fa-angellist"></i>
            </a>
            <a href="https://now-examples-slackin-hvswkjupfx.now.sh/" target="_blank" class="btn icon border purple round hover-tooltip margin-right">
              <i class="fab fa-slack"></i>
            </a>
          </div>
        </div>
        <!-- Item End -->
      </div>
      <!-- About Row End -->

      <!-- Social Start -->
      <div class="row social button-center padding-v-20">
        <div class="col-12">
          <p class="text-gray padding-v-20">
            <i class="far fa-copyright"></i>
            2018 Lyceum
          </p>
        </div>
      </div>
      <!-- Social End -->

    </div>
    <!-- Wrapper End -->

  </div>
  <!-- Row Rgba End -->

</div>
<!-- Forth Row End -->
