<div class="row header">
  <div class="navbar cf height-auto padding-20 transparent -tablet-padding">
    <a href="/" class="brand text-21 text-white -padding-left -tablet-margin">Lyceum</a>
    <ul class="pull-right menu href-text-white">
      {{# if user}}
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
        <li><a class="fill-purple" href="/register">Sign up</a></li>
      {{/if}}
    </ul>
  </div>
</div>
