<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="/js/libs/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/libs/validator.min.js" charset="utf-8"></script>
    <title></title>
    <style>
      body {padding-top: 80px;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Communities</h1>
        <h3>Search for a community</h3>
        <form action="/search" method="post" onsubmit="return setAction()" name="searchForm">
          <div class="form-group">
            <input type="text" class="form-control" id="query" name="query">
          </div> <!-- end div form-group -->
          <script>
            function setAction() {
              var query = document.getElementById('query');
              document.searchForm.action = "/search/"+query.value;
              return true;
            }
          </script>
          <button type="submit" class="btn btn-warning btn-md">Search</button>
        </form>

        {{#each comms}}
          <li><a href="/community/{{this._id}}">{{this.name}}</a></li>
        {{else}}
          <p>No Communities!</p>
        {{/each}}
        <br>
        <a href="/community-create">Create a community!</a>
        <br>
        <a href="/">Go Back Home</a>
      </div>
    </div>
  </body>
</html>
