<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {{> header}}
  </head>
  <body>
    {{> navbar}}

    <div class="wrapper960 center body">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>{{error}}</h3>
      </div>
    </div>

    {{> footer}}

  </body>
</html>
