<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://decorator.io/tools/modulr.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>
  <body>
    <!-- Header Start -->
    <div class="row header">
      <!-- Navbar Start -->
      <div class="navbar cf height-auto padding-20 transparent -tablet-padding">
        <a href="/" class="brand text-21 text-white -padding-left -tablet-margin">Lyceum</a>
        <ul class="pull-right menu href-text-white">
          {{# if user}}
            <li><a href="/profile">My Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          {{else}}
            <li><a href="/login">Login</a></li>
            <li><a class="fill-purple" href="/register">Sign up</a></li>
          {{/if}}
        </ul>
      </div>
      <!-- Navbar End -->

      <!-- Row Intro Start -->
      <div class="row text-center padding-bottom-40 push-top">
        <h2 class="text-white pull-left width-100">Find the Right Resources to Learn Anything</h2>
        <!-- <p class="text-white">
          It is now easier than ever to find the right resources to learn about any topic you want
        </p> -->
      </div>
      <!-- Row Intro End -->

      <!-- Search Form Start -->
      <div class="wrapper960 center">
        <form class="form l padding-10 cf" action="/search" method="post" name="searchForm" onsubmit="return setAction()">
          <div class="col-10">
            <input class="border-white -rounded" id="query" name="query" type="text" placeholder="Search Topics">
          </div>
          <div class="col-2">
            <button type="submit" class="btn purple width-100">Search</button>
          </div>
          <script>
            function setAction() {
              var query = document.getElementById('query');
              if (query.value.trim()==='') {
                document.searchForm.action = "/search/"+'topics';
                return true;
              }
              document.searchForm.action = "/search/"+query.value;
              return true;
            }
          </script>
        </form>
      </div>
      <!-- Search Form End -->

    </div>
    <!-- Header End -->


    <!-- Content Start -->

    <div class="wrapper960 center padding-v-40 tablet-padding">

      <!-- Second Row Start -->
      <div class="row padding-v-40 tablet-padding-top col-gutter-20">

        <h3 class="text-center padding-bottom">Explore Topics</h3>

        <p class="padding-bottom-20 text-center text-16">
          Lorem Ipsum is simply dummy text of the printing
        </p>

        <div class="col-12">
          {{#each topics}}
            <a href="/topic/{{this._id}}">
              <h5 class="pull-left">{{this.name}}</h5>
            </a> <br>
          {{/each}}
        </div>



        <div class="row flex padding-top-30 tablet-padding-top">
          <div class="col-12">
            <h6>Can't find what you're looking for? Make one <a href="/topic-create">here!</a></h6>
          </div>
          <div class="col-4">
            <a href="/topics" class="btn l purple width-100">Explore More</a>
          </div>
        </div>

      </div>
      <!-- Second Row End -->

    </div>
    <!-- Content End -->
    {{>footer}}
  </body>
</html>
