<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
      body {padding-top: 80px;}
    </style>
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Login</h1>
        <div id="errors"></div>
        <form action="/login" method="post" onsubmit="return validateForm()">
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="email"name="email">
          </div> <!-- end div form-group -->
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password"name="password">
          </div> <!-- end div form-group -->
          <script>
          function validateForm() {
            var email = document.getElementById('email');
            var password = document.getElementById('password');
            var div = document.getElementById('errors');
            div.className = '';
            div.innerHTML = '';
            if (email.value.trim()===''||password.value.trim()==='') {
              email.style.borderColor = "#E34234";
              password.style.borderColor = "#E34234";
              div.className += 'alert alert-danger';
              div.innerHTML += 'Make sure to fill out all the fields!';
              return false;
            }
            return true;
          }
          </script>
          <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
      </div> <!-- end div col-sm-6 col-sm-offset-3 -->
    </div> <!-- end div container -->
  </body>
</html>
