<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {{> header}}
  </head>
  <body>

    {{> navbar}}

    <div class="wrapper960 center body">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Logout</h1>
        <br>
        <form action="/logout" method="post">
          <div class="form-group">
            <h3>Are you sure you want to logout?</h3>
            <br>
            <button type="submit" class="btn green">Yes, Logout</button>
          </div>
        </form>
      </div> <!-- end div col-sm-6 col-sm-offset-3 -->
    </div> <!-- end div container -->

    {{> footer}}

  </body>
</html>
