<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="/js/libs/jquery-3.2.1.slim.min.js" charset="utf-8"></script>
    <script src="/js/libs/validator.min.js" charset="utf-8"></script>
    {{> header}}
    <title></title>
  </head>
  <body>

    {{> navbar}}

    <div class="wrapper960 center body">
      <div class="col-sm-6 col-sm-offset-3">
        <h1>Topics</h1>
        <!-- <h3>Search for a topic</h3> -->
        <form action="/search" method="post" onsubmit="return setAction()" name="searchForm">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search for a topic..." id="query" name="query">
          </div> <!-- end div form-group -->
          <script>
            function setAction() {
              var query = document.getElementById('query');
              if (query.value.trim()==='') {
                document.searchForm.action = "/search/"+'topics';
                return true;
              }
              document.searchForm.action = "/search/"+query.value;
              return true;
            }
          </script>
          <button type="submit" class="btn purple">Search</button>
        </form>

        {{#each topics}}
          <li><a href="/topic/{{this._id}}">{{this.name}}</a></li>
        {{else}}
          <p>No Topics!</p>
        {{/each}}
        <br>
        <a href="/topic-create">Create a topic!</a>
        <br>
        <a href="/">Go Back Home</a>
      </div>
    </div>

    {{> footer}}
  </body>
</html>
