.header,.footer{
  /* min-height: 75px; */
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  /* background: url("https://decorator.io/media/cover-2.jpg") no-repeat center center fixed; */
  /* background-color: #8342f4; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.radio-buttons{
  display:inline-flex;
}

.body{
  padding-top: 6%;
  padding-bottom: 20%;
}

.green-text{
  color: #0dba12;
}

.topics,.resources{
  margin-bottom: 20px;
}

.topicinfo,.resourceinfo{
  text-align: center;
}

.topic{
  /* width: 10%; */
  border-radius: 25px;
  border: 2px solid gray;
  height: 200px;
  /* background-color: #8342f4; */
}

.resource,.review{
  border-radius: 25px;
  border: 2px solid gray;
  /* height: 50px; */
}

.social{
  border-top: 1px solid gray;
}

.rgba{
  background: rgba(0,0,0,0.1);
  /* min-height: 100px; */
}
