.header{
  /* min-height: 75px; */
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
  /* background: url("https://decorator.io/media/cover-2.jpg") no-repeat center center fixed; */
  background-color: #8342f4;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
