<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {{> header}}
  </head>
  <body>

    {{> navbar}}

    <div class="wrapper960 center body">
      <div class="col-12">
        <h2 class="text-center">Update {{topic.name}}</h2> <br> <br>
        <form action="/topic-update/{{topic._id}}" method="post">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="Leave blank to keep original name" id="name" name="name">
          </div> <!-- end div form-group -->
          <br>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Leave blank to keep original description" id="description" name="description">
          </div> <!-- end div form-group -->
          <br>
          <button type="submit" class="btn green">Update Topic</button>
        </form>
      </div> <!-- end div col-sm-6 col-sm-offset-3 -->
    </div> <!-- end div container -->
    {{> footer}}

  </body>
</html>
